<!DOCTYPE>
    <html>
        <head>
            <title>home page</title>
          
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            {% load static %}
        </head>
            <body >
                <a href="/">home</a>
                <a href="/home1">home1</a>
                <a href="/login">login</a>
                <a href="/signin">signin</a>
                <a href="/welcome">swagath</a
            

  >
                
                                      
                                       <div class="dropdown">
                                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Dropdown button
                                          </button>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/home1">welcome</a>
                                            <a class="dropdown-item" href="/login">login</a>
                                            <a class="dropdown-item" href="/signin">signin</a>
                                          </div>
                                        </div>
                                        
                                                   
                                                <!-- <table class="table table-sm mt-5"> 
                                                        <thead >
                                                          <tr>
                                                            <th scope="col">#</th>
                                                            <span class="border border-danger "></span><th scope="col">First</th>
                                                            <th scope="col">Last</th>
                                                            <th scope="col">Handle</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                          <tr>
                                                            <th scope="row">1</th>
                                                            <td>Mark</td>
                                                            <td>Otto</td>
                                                            <td>@mdo</td>
                                                          </tr>
                                                          <tr>
                                                            <th scope="row">2</th>
                                                            <td>Jacob</td>
                                                            <td>Thornton</td>
                                                            <td>@fat</td>
                                                          </tr>
                                                          <tr>
                                                            <th scope="row">3</th>
                                                            <td>Larry</td>
                                                            <td>the Bird</td>
                                                            <td>@twitter</td>
                                                          </tr>
                                                        </tbody>
                                                        

                                                        <div class="card" style="width: 18rem;">
                                                                <img src="..." class="card-img-top" alt="...">
                                                                <div class="spinner-grow" role="status">
                                                                        <span class="sr-only">Loading...</span>
                                                                      </div>
                                                                      
                                                                <div class="card-body">
                                                                  <h5 class="card-title">Card title</h5>
                                                                  <p class="card-text">content hidden can be accessed only by kathlu.</p>
                                                                  <a href="#" class="btn btn-primary">Card link</a>
                                                                  <a href="/home1" class="btn btn-primary">Go somewhere</a>
                                                                </div>
                                                              
                                                            </div>
                                                              
                                                      
                                              
                                </div>
                            
                </div>-->
                <div class="container">
                    <div class="row">
                            <div class="col">

                                </div>
                                    <div class="col">
                                            <!-- <img src="{% static '1.jpeg' %}" alt="no image"> -->
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                    </div>
             
                
                <div style="width:80px;">
             </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            </body>
    </html>